@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  background-color: #880808;
}

.miltonian-tattoo-regular , .title {
  font-family: "Miltonian Tattoo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color:#ffffff;
}