@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  height: 100%;
  overflow-x: hidden; 
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;  
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  background-color: #880808;
}





@media only screen and (max-width: 768px) and (orientation:landscape) {
  body {
    width:100%;
    height:auto;
    
  }

 
}

@media only screen and (max-width: 448px) and (orientation: portrait) { /*448px or lower*/
  /* For mobile phones:*/
  body {
   width: 100%;   
   height: auto;
 
  }


}



.miltonian-tattoo-regular , .title {
  font-family: "Miltonian Tattoo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.25rem;
  color:#ffffff;
}

.animatedText {
  position:absolute;
  font-family: "Miltonian Tattoo", serif;
  font-size: clamp(2rem, 10vw, 8rem);/*font-size: 160px; 130px*/
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 100%;
 
  top: 60%;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.modal {
  position:absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(-50%);
  top: 80%;
  font-size: 26px;
}

.location {
  bottom: 16%;
  font-size:large;
}


.overlayTitle {
 font-family: "Miltonian Tattoo", serif;
 text-align: center;
 font-size: clamp(2rem, 10vw, 8rem);

}

.overlayText {
  position:absolute;
  top: 60%;
  font-size:large;
}